.dashboardLayout {
    display: flex;
    height: calc(100% - 100px);
    padding: 20px 0px;

    hr {
        background-color: black;
        opacity: 0.2;
    }

    .sidebar {
        flex: 1;
    }

    .content {
        flex: 5;
        padding: 0px 20px;
    }
}