.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;

    hr {
        border: none;
        height: 2px;
        background-color: black;
        opacity: 0.1;
        margin: 20px 0;
    }

    .title {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
            padding: 20px 10px;
            border-radius: 10px;

            &:hover {
                background-color: rgb(215, 214, 214);
            }
        }
    }

    .logout {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 15px;
        margin-bottom: 20px;
        padding: 10px 0px;
        border: none;
        outline: none;
        background-color: rgb(215, 214, 214);
        border-radius: 10px;
        cursor: pointer;
        transition: box-shadow 0.05s ease-in-out;

        &:hover {
            box-shadow: 2px 2px 5px gray;
        }
    }
}